modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
EXPO_PUBLIC_FIREBASE_API_KEY = "AIzaSyDNfjvNAsEgpoHgzWXZLoclNMqic4TDOn0"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN = "novachat-c8272.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID = "novachat-c8272"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET = "novachat-c8272.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "602298580384"
EXPO_PUBLIC_FIREBASE_APP_ID = "1:602298580384:android:c4d7087879c2640b7f78c5"
EXPO_PUBLIC_FIREBASE_GOOGLE_CLIENT_ID = "602298580384-en312utkhpf0go8nniupgar7gfc6rnf6.apps.googleusercontent.com"
